.container{
    border: 2px solid green;
    display: flex;
    /* justify-content: center; */

    /* flex-wrap: wrap;
    flex-wrap: wrap-reverse; */

    /* gap: 20px 50px; */
    
}
.child{
    height: 100px;
    width: 100px;
    border: 2px solid red;
}

.child3{
    order: -3;
    flex-shrink: 5;
}

.child2{
    order: 1;
}