#main{
    height: 485px;
    background-color: #F7F4ED;
    border-bottom: 1px solid black;
    overflow: auto;
}

#head1{
    /* border: 2px solid red; */
    margin-top: 100px;
    font-size: 6.5em;
    width: 350px;
    margin-left: 100px;
}

#head2{
    /* border: 2px solid red; */
    font-size: 6.5em;
    width: 680px;
    margin-left: 100px;
}

#main p{
    /* border: 2px solid red; */
    font-size: 1.5em;
    width: 550px;
    margin-left: 100px;
    margin-top: 30px;
}

#main a{
    /* border: 2px solid red; */
    margin-left: 100px;
    margin-top: 30px;
    display: inline-block;
    font-size: 1.2em;
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 50px;
}