*{
    margin: 0;
    padding: 0;
}
#nav{
    height: 75px;
    background-color: #F7F4ED;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    /* border: 2px solid red; */
    margin-left: 55px;
    height: 35px;
}

.link{
   /* border: 2px solid red;   */
   margin-right: 55px;
   height: 35px;

}

.link a{
    margin-top: 5px;
    display: inline-block;
    margin-left: 15px;
    color: black;
    text-decoration: none;
    font-size: 1.1em;
}

#navLink{
    color: white;
    background-color: black;
    padding: 8px 15px;
    border-radius: 50px;
}