.box{
    height: 200px;
    width: 200px;
    border: 2px solid red;
    margin: 100px auto;
    transition-duration: 3s;
}

.box:hover{
    /* background-color: black; */
    

    /* transform: translateX(-100px); */
    /* transform: translateY(150px); */
    /* transform: translateZ(100px); */
    /* transform: translate(100px); */

    /* transform: rotateX(45deg); */
    /* transform: rotateX(90deg); */
    /* transform: rotateY(45deg); */

    /* transform: rotatex(135deg); */

    /* transform: rotateZ(145deg); */
    /* transform: rotateZ(-45deg); */

    /* transform: rotate(45deg); */

    /* transform: scaleX(1.5); */
    /* transform: scaleY(1.4); */
    /* transform: scaleZ(1.3); */

    /* transform: scale(1.2); */

    /* transform: skewX(45deg); */

    transform: scale(1.5) rotate(45deg);

    /* transform: rotate(45deg); */

}