.container{
    border: 2px solid red;
    width: 50vw;
    margin: 50px auto;
    text-align: center;
}

#inp{
    width: 70%;
    padding: 10px;
}
#btn{
    width: 20%;
    padding: 10px;
}

.section-A p{
    display: inline;
}
.task{
    display: flex;
    justify-content: space-between;
    font-size: 1.4em;
}

.section-A{
    margin-left: 30px;
}
.section-B{
    margin-right: 30px;
}

.checked{
    text-decoration: line-through;
}